* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* the page heading */
h1 {
    color: rgb(202, 251, 175);
}
/* timer format text */
h3 {
    color: white;
}
/* main div that conatins the all the timer parts */
.timeInputDiv {
    width: 900px;
    margin: 50px auto;
    text-align: center;
    background-color: #737373;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}
/* inpts for hours, minutes, and seconds */
.input-time {
    border-radius: 10px;
}
/* semicolon between h:m:s */
.semicolon {
    display: inline-block;
    font-size: 50px;
    color: white;
}
/* start timer button */
button {
    width: 200px;
    height: 40px;
    margin: 15px auto;
    color: #787878;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}
/* start button when mouse is hovering pver it */
button:hover {
    background-color: #95f166;
    color: white;
}
/* inpts for hours, minutes, and seconds */
input {
    width: 80px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    margin: 10px auto;
}
/* div that conatins the timers output */
.outputdiv {
    padding-bottom: 30px;
    background-color: red;
}
/* each of the output hours, minutes, and seconds */
span.output-time {
    background-color: rgb(184, 178, 178);
    border-radius: 10px;

}
/* output span */
.output-time {
    margin-top: 25px;
    font-size: 45px;
}